<!DOCTYPE html>
<html>
    <head>
        <title>My Site</title>
    </head>

    <body>
    <h1> <a href="{% url 'taskmanager:index' %}" style="text-decoration:none"> {% block appname %}{% endblock %} </a> </h1>
    <hr>
    <p><a href="{% url 'taskmanager:index' %}" > Home </a> </p>
    <h2>
      {% if user.is_authenticated %}
        <p>Hello, {{ user.get_username }}! </p>
      {% else %}
        <p>Hello, Guest!</p>
      {% endif %}
    {% block title %} {% endblock %}
    </h2>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>
    {% else %}
    {% block content %} {% endblock %}
    {% endif %}
      <p>
        {% if user.is_authenticated %}
        <br>  <a href="{% url 'taskmanager:logout' %}" > Logout </a>
        {% endif %}
      </p>
    </body>
</html>
