{% extends "taskmanager/base.html" %}
{% block appname %} Task Manager {% endblock %}
{% block title %} Task Details {% endblock %}

{% block content %}
<form action="{% url 'taskmanager:toggle_status' task.id %}" method="post">
{% csrf_token %}
{% if task.status %}
  <input type="submit" value=" Mark as ToDo ">
{% else %}
  <input type="submit" value=" Mark Complete ">
{% endif %}
</form>
<p> <b>Title</b> : {{ task.task_title }}</p>
<p> <b>Description</b> : {{ task.description }} </p>
<p> <b>Created</b> : {{ task.created }} </p>
<p> <b>Modified</b> : {{ task.modified }} </p>
{% if task.status %}
<p> <b>Finished</b> : {{ task.finished }} </p>
{% else %}
<form action="{% url 'taskmanager:edit' task.id %}" method="get">
{% csrf_token %}
  <input type="submit" value="Edit">
</form>
{% endif %}
<br>
<form action="{% url 'taskmanager:delete' task.id %}" method="post">
{% csrf_token %}
  <input type="submit" value="Delete">
</form>
{% endblock %}
