{% extends "taskmanager/base.html" %}
{% block appname %} Task Manager {% endblock %}
{% block title %} Task List {% endblock %}
{% block content%}
{% if latest_task_list %}
    <ul>
    {% for task in latest_task_list %}
        <li><a href="{% url 'taskmanager:detail' task.id %}">{{ task.task_title }}</a></li>
    {% endfor %}
    <br>
    </ul>
  <a href="{% url 'taskmanager:create' %}"> Create more</a>
{% else %}
    <p>All tasks done!</p>
    <li><a href="{% url 'taskmanager:create' %}"> Create new</a></li>
{% endif %}
<p><a href="{% url 'taskmanager:completed_tasks' %}"> View Completed Tasks </a></p>
{%endblock %}
