{% extends "taskmanager/base.html" %}
{% block appname %} Task Manager {% endblock %}
{% block title %}Login{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <br>
  <p>Not Registered?
  <a href="{% url 'taskmanager:register' %}"> Sign Up! </a>
  </p>
{% endblock %}
