{% extends "taskmanager/base.html" %}
{% block appname %} Task Manager {% endblock %}
{% block title %}Register{% endblock %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
  </form>
  <br>
  <p>Already Registered?
  <a href="{% url 'taskmanager:login' %}"> Login </a>
  </p>
{% endblock %}
