{% extends "taskmanager/base.html" %}
{% block appname %} Task Manager {% endblock %}
{% block title %} Completed Task List {% endblock %}
{% block content%}
{% if task_list %}
    <ul>
    {% for task in task_list %}
        <li><a href="{% url 'taskmanager:detail' task.id %}">{{ task.task_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks done, lets do some work!</p>
    <a href="{% url 'taskmanager:index' %}"> View Todo </a>
{% endif %}
{%endblock %}
